body{
	margin:0;
	padding:0;
	background-color:#F8F8F8;
}
ul{
	padding:0;
	margin:0;
}
li{
	list-style:none;
	padding:0;
	margin:0;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.display-inline{
	display:inline;
}
.clear-both{
	clear:both;
}
.cursor-pointer{
	cursor:pointer;
}

/*  a							----------------------------------------------------*/
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

/*  Language bar							----------------------------------------------------*/
#language-bar{
	height:23px;
	width:100%;
	background-color:#333333;
	padding-top:2px;
}
#language-bar > div{
	margin:0 auto;
	width:960px;
	text-align:right;
}
#language-bar > div > a{
	text-decoration:none;
	font-family:Arial;
	font-size:13px;
}

#language-bar > div > span{
	font-family:Arial;
	font-size:16px;
	padding-top:2px;
}
.language-bar-active{
	color:#CBCBCB;
}
.language-bar-deactive{
	color:#808080;
}

/*  Header							----------------------------------------------------*/
#header{
	width:100%;
	background-color:#F8F8F8;
}
#header > div{
	margin:0 auto;
	width:960px;
}
#header > div > div{
	width:480px;
	height:85px;
}
#header > div > div >div{
	margin-top:15px;
}
#header > div > div > div > div{
	color:#C9030B;
	font-family:Arial;
	font-size:12px;
	margin-left:10px;
}
#header-call-us{
	margin-left:0 !important;
	padding-top:8px;
}
.header-button-l{
	width:8px;
	height:26px;
	background-image:url(/buttons/header-button-l.png);
	background-repeat:no-repeat;
}
.header-button-m{
	width:120px;
	height:21px;
	padding-top:5px;
	background-image:url(/buttons/header-button-m.png);
	background-repeat:repeat;
}
.header-button-r{
	width:8px;
	height:26px;
	background-image:url(/buttons/header-button-r.png);
	background-repeat:no-repeat;
}
.header-button-m > div{
	background-image:url(/icon/drop-arrow.png);
	background-repeat:no-repeat;
	background-position:right 6px;
	width:100%;
	height:20px;
}
.header-button-m a{
	color:#C9030B;
	font-family:Arial;
	font-size:14px;
}
.header-button-m  > a{
	text-align:center;
	width:120px;
    display: block;
}
.menu-items-font{
	color:#666666;
	font-family:Arial;
	font-size:15px;
}
.menu-items{
	padding: 7px 7px 2px 7px;
	margin-right:30px;
	cursor:pointer;
}
.menu-items > span{
	padding-right:15px;
}
.menu-items-bg{
	background-image:url(/icon/drop-arrow.png);
	background-repeat:no-repeat;
	background-position:right 6px;
}
.menu-items-first{
	margin-right:0;
}
#menu-items-services > #sub-menu-services{
	background-image:url(/background/menu-bg.png);
	opacity: 0.9;
	backgroung-repeat:repeat;
    display: none;
    height: 280px;
    padding-top:10px;
    left: 0;
    position: absolute;
    top: auto;
    width: 100%;
    z-index: 5;
}
#menu-items-services:hover > #sub-menu-services{
	display:block !important;
}
#menu-items-services:hover{
	background-image:url(/background/menu-bg.png);
	backgroung-repeat:repeat;
}
#sub-menu-services > ul{
	width:914px;
	margin:0 auto;
	height:38px;
	background-color:#1A1A1A;
	border-radius: 5px;
	position: relative;
}
#sub-menu-services > ul > li {
	color:#ffffff;
	padding:7px 5px 7px 35px;
}
#sub-menu-services > ul > li > ul {
    display: none;
    height: 230px;
}
#sub-menu-services > ul > li:hover > ul {
    display: block;
}
#sub-menu-services > ul > li:hover > span > span {
	background-color: #F8F8F8;
	color: #000;
}
#sub-menu-services > ul > li > span > span {
	padding: 5px 10px;
	border-radius: 5px;
}
.sub-menu-services-sub-items{
	position:absolute;
	width:844px;
	padding-left:35px;
	padding-right:35px;
    padding-top: 25px;
	left:0;
	top:35px;
}
.sub-menu-services-sub-items > span{
	width:400px;
	display:block;
}
.sub-menu-services-sub-items > span > li > a{
	font-size:12px;
	color:#fff;
}
#title{
	float: left;
	width: 195px;
	height: 55px;
	margin: 15px 0;
	padding: 0;
	font-family: Arial;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	font-weight: normal;
}

/*  Banner							----------------------------------------------------*/
#banner{
	width:100%;
	height:460px;
	background-color:#FFFFFF;
	border-bottom:#C9030B 1px solid;
}
#banner > div{
	width:100%;
	height:460px;
	position:absolute;
}
#banner-navigation{
	width:100%;
	height:30px;
	background-image:url(/banner/banner-navigation.png);
	background-repeat:repeat;
	position:absolute;
	bottom:0;
}
.banner-text{
	margin: 0 auto;
    position: relative;
    text-align: left;
    top: 0;
    width: 880px;
	padding:10px 40px;
}
.banner-button{
    text-align: right;
	top:250px !important;
}
.banner-text-title{
	font-family:Arial;
	font-size:57px;
	color:#000000;
}
.banner-text-description{
	font-family:Arial;
	font-size:16px;
	color:#808080;
}
.banner-text > a{
}
.banner-button-l{
	width:8px;
	height:37px;
	background-image:url(/buttons/white-button-l.png);
	background-repeat:no-repeat;
}
.banner-button-m{
	width:160px;
	height:30px;
	padding-top:7px;
	background-image:url(/buttons/white-button-m.png);
	background-repeat:repeat;
	font-family:Arial;
	text-align:center;
	font-size:19px;
	color:#C9030B;
}
.banner-button-r{
	width:8px;
	height:37px;
	background-image:url(/buttons/white-button-r.png);
	background-repeat:no-repeat;
}
#banner-navigation > div{
	margin: 0 auto;
    position: relative;
    text-align: left;
    top: 0;
    width: 200px;
	height:30px;
	
}
.banner-nav-deactive{
	border:#C9030B 2px solid;
	width:12px;
	height:12px;
	margin:7px 5px;
}
.banner-nav-active{
	background-color:#C9030B;
	width:16px;
	height:16px;
	margin:7px 5px;
}
#banner > div > ul{
    position: absolute;
    width: 100%;
    height: 430px;
    padding: 0;
    margin: 0;
    overflow:hidden;
}
#banner > div > ul > li{
    position: absolute;
    width: 100%;
    height: 430px;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: brown;
}
#banner > div > ul > li:first-child {
    background-color: green;
}

/*  Main							----------------------------------------------------*/
#main{
	background-color:#171514;
	background-image:url(/separators/line-sp-ovb.png);
	background-repeat:no-repeat;
	background-position:center 25px;
	width:100%;
	height:460px;
}
#main-text{
	height:166px;
	width:100%;
	background-image:url(/separators/line-sp-ovb.png);
	background-repeat:no-repeat;
	background-position:center bottom;
}
#main-text > div{
	height:139px;
	width:960px;
	margin:0 auto;
	padding-top:26px;
	padding-bottom:1px;
}
.main-text-title{
	font-family:Arial;
	font-size:32px;
	color:#B2B2B2;
	padding-top:20px;
	padding-bottom:10px;
}
.main-text-description{
	font-family:Arial;
	font-size:16px;
	color:#E5E5E5;
}
.main-show-more-button{
	font-family:Arial;
	font-size:12px;
	text-decoration:underline;
	padding-right:17px;
	color:#C9030B;
	background-image:url(/icon/readmore.png);
	background-repeat:no-repeat;
	background-position:right;
	margin-left:20px;
}
.main-point{
	width:44px;
	margin:10px auto 0 auto;
}
.learn-more-point{
	background-image:url(/icon/read-more.png);
	background-repeat:no-repeat;
	width:8px;
	height:8px;
	margin-left:10px;
}
.learn-more-point-end{
	margin-left:0 !important;
}

/*  products							----------------------------------------------------*/
#products{
	width:960px;
	margin:50px auto 0 auto;
}
.products-network{
	height:246px;
	width:320px;
	background-image:url(/separators/sep-ver-right.png);
	background-repeat:no-repeat;
	background-position:right;
}
.products-programing{
	height:246px;
	width:315px;
	padding-left:5px;
	background-image:url(/separators/sep-ver-left.png);
	background-repeat:no-repeat;
	background-position:right;
}
.products-hosting{
	height:246px;
	width:315px;
	padding-left:5px;
}
.products-title{
	font-family:Arial;
	font-size:35px;
	color:#C9030B;
}
.products-subtitle{
	font-family:Arial;
	font-size:22px;
	color:#CBCBCB;
}
.products-description{
	background-repeat:no-repeat;
	height:93px;
	width:180px;
	margin-right:20px;
	margin-top:40px;
	padding-left:120px;
	font-family:Arial;
	font-size:15px;
	color:#E5E5E5;
}
.products-network > .products-description{
	background-image:url(/icon/network.png);
}
.products-programing > .products-description{
	background-image:url(/icon/programing.png);
}
.products-hosting > .products-description{
	background-image:url(/icon/hosting.png);
}
.products-learn-more{
	padding-left:155px;
	width:155px;
}
.products-learn-more-l{
	background-image:url(/buttons/black-button-l.png);
	background-repeat:no-repeat;
	height:29px;
	width:8px;
	font-family:Arial;
	font-size:12px;
	color:#999999;
}
.products-learn-more-m{
	background-image:url(/buttons/black-button-m.png);
	background-repeat:repeat;
	height:21px;
	width:100px;
	text-align:center;
	padding-top:8px;
	font-family:Arial;
	font-size:12px;
	color:#999999;
}
.products-learn-more-r{
	background-image:url(/buttons/black-button-r.png);
	background-repeat:no-repeat;
	height:29px;
	width:8px;
	font-family:Arial;
	font-size:12px;
	color:#999999;
}
#main-bottom{
	height:77px;
	width:100%;
	background-image:url(/separators/jag-u.png);
	background-repeat:repeat-x;
	background-position:bottom;
	background-color:#F1F1F1;
}
#main-bottom > div{
	background-color:#171514;
	background-image:url(/separators/shadow-ovb.png);
	background-repeat:no-repeat;
	background-position:center top;
	height:57px;
	width:100%;
}


/*  who-are-our-customers							----------------------------------------------------*/
#who-are-our-customers{
	width:100%;
	height:279px;
	background-color:#F1F1F1;
}
#who-are-our-customers > div{
	width:933px;
	height:230px;
	padding-top:49px;
	padding-left:27px;
	margin:0 auto;
}
.title{
	padding-bottom:25px;
	font-family:Arial;
	font-size:39px;
	color:#C9030B;
}
.description{
	padding-bottom:10px;
	font-family:Arial;
	font-size:15px;
	color:#808080;
	text-align:justify;
}
#who-are-our-customers .title{
}
#who-are-our-customers .description{
}
#who-are-our-customers .box{
	background-color: #FFFFFF;
	height:80px;
	width:887px;
	margin:0 auto;
	border:#B3B3B3 1px solid;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
#what-our-customers-say-about-us > div{
	width:960px;
	height:250px;
	padding-top:49px;
	margin:0 auto;
}
#what-our-customers-say-about-us .title{
	text-align:right;
}
#what-our-customers-say-about-us .description{
}
#what-our-customers-say-about-us .box{
	height:300px;
	width:838px;
	margin:0 auto;
	background-color:#E6E6E6;
	padding-left:61px;
	padding-right:61px;
	padding-top:20px;
}
#what-our-customers-say-about-us .box > div{
	height:230px;
	width:366px;
	border:#B3B3B3 1px solid;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	background-color:#F2F2F2;
}


/*  what-our-customers-say-about-us							----------------------------------------------------*/
#what-our-customers-say-about-us{
	width:100%;
	height:412px;
	background-color:#F1F1F1;
	background-image:url(/separators/line-sp-ovw.png);
	background-repeat:no-repeat;
	background-position:center top;
}

/*  our-latest-projects							----------------------------------------------------*/
#our-latest-projects{
	width:100%;
	background-color:#F1F1F1;
	background-image:url(/separators/line-sp-ovw.png);
	background-repeat:no-repeat;
	background-position:center 435px;
}
#our-latest-projects .header{
	width:960px;
	padding-top:49px;
	margin:0 auto;
}
#our-latest-projects .title{
	padding-left:27px;
	padding-bottom:50px !important;
	width:600px;
}
#our-latest-projects .menu{
	width:214px;
	padding-top:45px;
}
#our-latest-projects .menu > div{
	padding-right:10px;
	font-family:Arial;
	font-size:15px;
}
#our-latest-projects .menu .active{
	color:#666666;
}
#our-latest-projects .menu .deactive{
	color:#B3B3B3;
}
#our-latest-projects .box{
	padding-left:10px;
	}
#our-latest-projects .box > div{
	width:222px;
	margin-left:17px;
	height:180px;
	background-color:#0F3;
}
#our-latest-projects-box .no-margin{
	margin-left:0 !important;
}
#our-latest-projects-slider{
	width:100%;
	height:5px;
	margin-top:45px;
	margin-bottom:60px;
	background-image:url(/slider/slider-bg.png);
	background-repeat:repeat-x;
	background-position:2px;
}
#our-latest-projects-slider .left{
	width:4px;
	height:5px;
	background-image:url(/slider/slider-l.png);
	background-repeat:no-repeat;
}
#our-latest-projects-slider .middle{
	width:214px;
	height:5px;
	background-image:url(/slider/slider-m.png);
	background-repeat:repeat-x;
}
#our-latest-projects-slider .right{
	width:4px;
	height:5px;
	background-image:url(/slider/slider-r.png);
	background-repeat:no-repeat;
}

/*  what-can-you-do						----------------------------------------------------*/
#what-can-you-do{
	width:100%;
	height:411px;
	background-color:#F1F1F1;
}
#what-can-you-do .header{
	padding-left:27px;
	padding-right:42px;
	padding-top:39px;
	width:891px;
	height:320px;
	overflow:hidden;
	margin:0 auto;
}
#what-can-you-do .right{
	width:500px;
}
#what-can-you-do .social{
	width:328px;
}
#what-can-you-do .social > a{
	display: block;
	border-bottom:solid 1px black;
	height:25px;
	padding-bottom:8px;
	padding-top:7px;
}
#what-can-you-do .social .title{
	font-size:20px;
	padding-bottom:10px;
	padding-top:20px;
}
#what-can-you-do .social .icon{
	display: block;
	width:25px;
	height:25px;
}
#what-can-you-do .social .text{
	display: block;
	width:295px;
	height:20px;
	padding-left:8px;
	font-family:Arial;
	font-size:15px;
	color:#808080;
	padding-top:5px;
}
#facebook{
	background-image:url(/social/fb.png);
	background-repeat:no-repeat;
}
#googleplus{
	background-image:url(/social/gp.png);
	background-repeat:no-repeat;
}
#rss{
	background-image:url(/social/rss.png);
	background-repeat:no-repeat;
}
#twitter{
	background-image:url(/social/tw.png);
	background-repeat:no-repeat;
}
#youtube{
	background-image:url(/social/yt.png);
	background-repeat:no-repeat;
}

/*  footer							----------------------------------------------------*/
#footer-wrapper{
	background-image:url(/separators/jag-b.png);
	background-repeat:repeat-x;
	background-position:top;
	background-color:#F1F1F1;
	width:100%;
	height:325px;
	padding-top:20px;
}
#footer{
	width:100%;
	height:295px;
	padding-top:30px;
	background-color:#171514;
	background-image:url(/separators/line-sp-ovb.png);
	background-repeat:no-repeat;
	background-position:center 20px;
}
#footer > div{
	width:960px;
	margin:0 auto;
}
#footer > div > div{
	width:780px;
	height:277px;
}
.footer-menu-items-font-title{
	font-family:Arial;
	font-size:14px;
	color:#C9030B;
}
.footer-font-bold{
	font-weight:bold;
}
.footer-menu-items-font-sub-title{
	font-family:Arial;
	font-size:11px;
	color:#808080;
}
.footer-menu-items-border-bottom{
	border-bottom: 2px dotted #4D4D4D;
}
.footer-menu{
}
.footer-menu-items{
	display:block;
	margin:0 9px 7px 9px;
	width:138px;
	height:21px;
}
#footer-menu-services{
	width: 624px;
}
.footer-menu-items-sub-title-border-top{
	border-top: 2px dotted #4D4D4D;
    margin-top: -9px;
    padding-top: 10px;
}
.footer-menu-items-margin-bottom-none{
	margin-bottom:0 !important;
}
.footer-menu-items-exception{
	margin-top:1px !important;
	height:24px;
	line-height:11px;
}

/*  pages							----------------------------------------------------*/
.pages-navigation-bar{
	height:29px;
	width:100%;
	padding-top:10px;
	margin-bottom:10px;
	background-color:#171514;
}
.pages-navigation-bar > div{
	color:#808080;
	font-size:12px;
	font-family:Arial;
	width:960px;
	margin:0 auto;
}
#pages-main{
	width:100%;
	background-image:url("/separators/line-sp-ovw.png");
	background-position: center bottom;
	background-repeat:no-repeat;
}
#pages-main > div{
	width:960px;
	margin:0 auto;
}
#pages-main > .banner{
	height:300px;
	background-color:gray;
	margin-bottom:50px;
}
#pages-main > .main-text{
	padding-bottom:27px;
}

/*  about us							----------------------------------------------------*/
#about-us-our-latest-projects{
	width:100%;
	margin:30px 0;
	background-image:url("/separators/shadow-ovw.png");
	background-position: center bottom;
	background-repeat:no-repeat;
	padding-bottom: 50px;
}
#about-us-our-latest-projects > div{
	width:960px;
	margin:0 auto;
}
#about-us-our-latest-projects > div > div{
	height:200px;
	overflow:hidden;
	width:400px;
}
#about-us-our-latest-projects .title{
	font-size:28px;
}
#about-us-bottom{
	padding-bottom:50px;
}
#about-us-bottom > div{
	width:960px;
	margin:0 auto;
}
#about-us-bottom > div > div{
	width:240px;
	height:300px;
	margin:0 auto;
}
#about-us-bottom .center{
	padding:0 120px;
}
#about-us-bottom .black-title{
	font-family:Arial;
	font-size:16px;
	margin-bottom:15px;
}

/*  contact us							----------------------------------------------------*/
#contact-us .banner{
	background-image:url("/map/map.png");
	background-position: center bottom;
	background-repeat:no-repeat;
}
.contact{
	background-image:url("/separators/shadow-ovw.png");
	background-position: center bottom;
	background-repeat:no-repeat;
	padding-bottom:50px;
}
.contact > div{
	width:960px;
	margin:27px auto 0 auto;
	padding-bottom:70px;
}
.address-box{
	width:140px;
	height:240px;
	padding:30px;
	border:1px solid #B3B3B3;
	background-color:#E6E6E6;
}
.contact-box{
	width:630px;
	height:349px;
	border:1px solid #B3B3B3;
	padding:20px 43px 14px 27px;
}
.address-box .title{
	font-size: 19px;
	padding-bottom:0;
}
.address-box .description{
	font-size: 12px;
	padding:0;
}
.products-description {
	background-position: left;
}
#sub-menu-services > ul > li > span {
	padding-left: 10px;
}
#sub-menu-services > ul > li:first-child > span {
	padding-left: 0;
}
.banner-title{
	font-family:"BYagut";
	color:#F8F8F8;
}
.banner-description{
	font-family:"BYekan";
	padding: 15px;
	margin: 0;
}
.slider{
	background-image:url("/banner/banner-back.jpg");
	margin: 0;
	height: 430px;
	display:none;
}
.slider > h2{
	margin: 0;
}
