body {
	direction: rtl;
	font-family: BMitra;
}
.float-right{
	float:left;
}
.float-left{
	float:right;
}
#language-bar > div{
	text-align: left;
}
#header > div > div > div > div{
	font-family: BMitra;
	margin-left: 0;
	margin-right: 10px;
	font-size: 16px;
}
#header > div > div {
	width: 530px;
}
#header-call-us{
	margin-right: 38px !important;
	padding-top: 2px;
}
.menu-items{
	margin-right: 0;
	margin-left: 30px;
}
.menu-items > a, .menu-items > span {
	padding-right: 0;
	padding-left: 15px;
}
.menu-items-bg{
	background-position: left 10px;
}
.menu-items-first{
	margin-right:left;
}
#menu-items-services > #sub-menu-services{
    left: auto;
    right: 0;
}
#sub-menu-services > ul > li {
	padding:6px 42px 9px 42px;
}
#title{
	float: right;
	height: 31px;
	margin: 31px 0;
	width: 233px;
}
#title > a {
	font-family: BHoma;
	font-size: 32px;
	color: #000;
}
.banner-text{
	text-align: right;
}
.banner-button{
	text-align: right;
}
#banner-navigation > div{
	text-align: right;
}
.main-show-more-button{
	padding-right: 0;
	padding-left: 17px;
	margin-left: 0;
	margin-right: 20px;
}
.learn-more-point{
	margin-left: 0;
	margin-right: 10px;
}
.learn-more-point-end{
	margin-right:0 !important;
}
.products-network, .products-programing{
	background-position: left;
}
.products-network {
	width: 312px;
}
.products-programing{
	padding-left: 0;
	padding-right: 13px;
	width: 310px;
}
.products-hosting{
	padding-left: 0;
	padding-right: 10px;
}
.products-description{
	margin-right: 0;
	margin-left: 20px;
	padding-left: 0;
	padding-right: 120px;
}
.products-title {
	font-family: BHoma;
	font-size: 38px;
	line-height: 1.5em;
}
.products-subtitle {
	font-family: BHoma;
	font-size: 22px;
	line-height: 0.5em;
}
.products-description {
    font-family: BMitra;
    font-size: 19px;
    text-align: justify;
}
.products-learn-more{
	padding-left: 0;
	padding-right: 155px;
}
#who-are-our-customers > div{
	padding-left: 0;
	padding-right: 27px;
}
#our-latest-projects .title{
	padding-left: 0;
	padding-right: 27px;
}
#our-latest-projects .menu > div{
	padding-right: 0;
	padding-left: 10px;
}
#our-latest-projects .box{
	padding-left: 0;
	padding-right: 10px;
}
#our-latest-projects .box > div{
	margin-left: 0;
	margin-right: 17px;
}
#our-latest-projects-box .no-margin{
	margin-right:0 !important;
}
#what-can-you-do .header{
	padding-left: 42px;
	padding-right: 27px;
}
#what-can-you-do .social .text{
	padding-left: 0;
	padding-right: 8px;
}
.contact-box{
	padding:20px 27px 14px 43px;
}
.header-button-l{
	background-image:url(/buttons/header-button-r.png);
}
.header-button-r{
	background-image:url(/buttons/header-button-l.png);
}
.banner-button-l{
	background-image:url(/buttons/white-button-r.png);
}
.banner-button-r{
	background-image:url(/buttons/white-button-l.png);
}
.products-learn-more-l{
	background-image:url(/buttons/black-button-r.png);
}
.products-learn-more-r{
	background-image:url(/buttons/black-button-l.png);
}
.products-description {
	background-position: right;
}
.header-button-m > div {
	background-position: left 11px;
	padding-top: 0;
	height: 25px;
}
#what-our-customers-say-about-us .title {
	text-align: left;
}
#sub-menu-services > ul > li > span {
	padding: 0;
}
#sub-menu-services > ul > li:first-child > span {
	padding-right: 0;
}
.menu-items > span, .menu-items > a {
	font-family: BMitra;
	font-size: 17px;
}
.header-button-m a {
	font-family: BMitra;
	font-size: 16px;
	display: block;
	width: 120px;
	text-align: center;
}
.title {
	font-family: BHoma;
	font-size: 38px;
}
.description {
	font-family: BMitra;
	font-size: 19px;
}
#what-can-you-do .social .text {
	font-family: BMitra;
	font-size: 17px;
	padding-top: 1px;
}
.footer-menu-items-font-title {
	font-family: BMitra;
	font-size: 16px;
}
.footer-menu-items-font-sub-title {
	font-family: BMitra;
	font-size: 13px;
}
#what-can-you-do .social .title {
	font-size: 20px;
}
.sub-menu-services-sub-items > span > li > a {
	font-size: 16px;
	line-height: 1.5em;
}
.header-button-m {
	padding-top: 1px;
	height: 25px;
}
.smallerLatin {
	font-size: 0.8em;
}
.main-text-title {
	font-family: BMitra;
	font-size: 36px;
}
.main-text-description {
	font-family: BMitra;
	font-size: 19px;
}
#what-our-customers-say-about-us .box {
	font-size: 19px;
	color: #808080;
	line-height: 25px;
	text-align: justify;
}
.wocsau-author {
	text-align: left;
}
.products-learn-more-m > a {
    font-family: BMitra;
    font-size: 20px;
    height: 24px;
    line-height: 14px;
    padding-top: 5px;
}
#who-are-our-customers .title {
	padding-bottom: 0;
}

#error404{
	width: 720px;
	margin: 80px auto 140px auto;
	color: #333333;
}

#error404-code {
	font-family: Arial, sans-serif;
	font-weight: 800;
	font-size: 120px;
	float: left;
}

#error404-header {
	padding-top: 95px;
	font-family: BHoma;
	font-size: 29px;
}

#error404-text{
	font-family: BMitra;
	font-size: 24px;
	padding-top: 24px;
}

#uconst {
	width: 960px;
	margin: 0 auto;
}

#uconst-header {
    background-image: url("/texts/underconstruction-header.png");
    height: 63px;
    width: 366px;
}

#uconst-text {
	font-family: BMitra;
	font-size: 24px;
	padding-right: 10px;
}

#uconst-footer {
    background-image: url("/texts/underconstruction.png");
    height: 735px;
	margin-top: 25px;
}

.pages-navigation-bar > div > a {
	color: #808080 !important;
	font-family: BMitra;
}

.pages-navigation-bar > div > a.smallerLatin {
	font-family: Arial;
}

.pages-navigation-bar > div {
	font-size: 18px;
	font-family: BMitra;
}

.pages-navigation-bar {
	padding-top: 7px;
	padding-bottom: 3px;
	font-family: BMitra;
}

#contact-us-email-table {
	margin: 0 auto;
}

#contact-us-email-table td:last-child {
	font-family: Arial;
}

#contact-us-email-table td:last-child > a {
	color: #808080;
	text-decoration: underline;
}

#contact-us-email-table td:first-child {
	width: 140px;
}

#contact-us-tel-table {
	margin: 0 auto;
}

#contact-us-tel-table td:last-child {
	direction: ltr;
}

#contact-us-tel-table td:first-child {
	width: 60px;
}
