.copyright-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
}
.menu-items-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #e3e3e3;
	text-align: left;
}
.H1-black-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	text-align:justify;
	font-weight:bold;
	color:#000;
}
.H1-white-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	text-align:justify;
	font-weight:bold;
	color:#FFF;
}
.H2-black-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:justify;
	font-weight:normal;
	color:#000;
}
.H2-white-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	text-align:justify;
	font-weight:normal;
	color:#FFF;
}
.H3-black-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:justify;
	font-weight:normal;
	color:#000;
}
.H3-white-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:justify;
	font-weight:normal;
	color:#FFF;
}
.font-title-big-black-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	text-align:justify;
	font-weight:bold;
	color:#000;
}
.font-title-big-white-font{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	text-align:justify;
	font-weight:bold;
	color:#FFF;
}
.drag-here-font{	 
    text-align: center;
    line-height: 30px;
}
.portfolio-des-font{
	text-align: justify;
}