body {
	font-family: 'Kite One', sans-serif;	
}
.copyright-font{
	font-family: Arial, sans-serif;
	font-size:12px;
	text-align:center;
}
.menu-items-font{
	display: block;
	font-family: 'Croissant One', cursive;
	font-size:14px;
	color: #e3e3e3;
	letter-spacing: 0.8px;
}
.menu-items-first-letter:first-letter {
	font-size: 1.4em !important;
}
.menu-items:first-child span:first-letter {
	font-size: 1em !important;
}
.text-box-4-wrapper{
	color: #fff;
}
.text-box-middle-center p{
	font-family: 'Kite One', sans-serif;
	font-size:16px;
}
.H1-black-font{
	font-family: 'Croissant One', cursive;
	font-size:22px;
	font-weight:bold;
	color:#000;
}
.H1-white-font{
	font-family: 'Croissant One', cursive;
	font-size:22px;
	font-weight:bold;
	color:#FFF;
}
.H2-black-font{
	font-family: 'Croissant One', cursive;
	font-size:18px;
	font-weight:normal;
	color:#000;
}
.H2-white-font{
	font-family: 'Croissant One', cursive;
	font-size:18px;
	font-weight:normal;
	color:#FFF;
}
.H3-black-font{
	font-family: 'Croissant One', cursive;
	font-size:14px;
	font-weight:normal;
	color:#000;
}
.H3-white-font{
	font-family: 'Croissant One', cursive;
	font-size:14px;
	font-weight:normal;
	color:#FFF;
}
.font-title-big-black-font{
	font-family: 'Croissant One', cursive;
	font-size:30px;
	font-weight:bold;
	color:#000;
}
.font-title-big-white-font{
	font-family: 'Croissant One', cursive;
	font-size:30px;
	font-weight:bold;
	color:#FFF;
}
.drag-here-font{	 
    text-align: center;
    line-height: 30px;
}
.portfolio-des-font{
	text-align: justify;
}