body{
	margin:0;
	padding:0;
}

/*  Ul,Li						----------------------------------------------------*/
ul, li{
  margin: 0;
  padding: 0;
  list-style:none outside none;
}
.list-style-disc{
  list-style: disc inside;
}
.list-style-circle{
  list-style: circle outside;
}

/*  a							----------------------------------------------------*/
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

/*  cursor-pointer				----------------------------------------------------*/
.cursor-pointer{
	cursor: pointer;
}

/*  cursor-move				----------------------------------------------------*/
.cursor-move{
	cursor: move;
}

/*  text-align-right			----------------------------------------------------*/
.text-align-right{
	text-align:right;
}

/*  Display none				----------------------------------------------------*/
.display-none{
  display: none !important;
}
.menu-items-text
{
	display: none;
}
/*  Display block				----------------------------------------------------*/
.display-block{
  display: block !important;
}

/*  In-line						----------------------------------------------------*/
.in-line{
  display: inline !important;
}

/*  Padding						----------------------------------------------------*/
.padding0{
  padding: 0 !important;
}

/*  Margin						----------------------------------------------------*/
.margin0{
  margin: 0 !important;
}

/*  Border nnone				----------------------------------------------------*/
.border-none{
  border: none !important;
}

/*  Float						----------------------------------------------------*/
.float-left{
  float: left;
}
.float-right{
  float: right;
}
.float-none{
  float: none;
}

/*  Clear						----------------------------------------------------*/
.clear-left{
  clear: left;
}
.clear-right{
  clear: right;
}
.clear-both{
  clear: both;
}