body{
	margin:0;
	padding:0;
}
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.clear-both{
	clear:both;
}

/*  a							----------------------------------------------------*/
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
a:active{
  text-decoration: none;
}

/*  Language bar							----------------------------------------------------*/
#language-bar{
	height:25px;
	width:100%;
	background-color:#333333;
}
#language-bar > div{
	margin:0 auto;
	width:960px;
	text-align:right;
}
#language-bar > div > a{
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:13pt;
}

#language-bar > div > span{
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	padding-top:2px;
}
.language-bar-active{
	color:#CBCBCB;
}
.language-bar-deactive{
	color:#808080;
}

/*  Header							----------------------------------------------------*/
#header{
	width:100%;
	height:85px;
	background-color:#F8F8F8;
}
#header > div{
	margin:0 auto;
	width:960px;
}

/*  Banner							----------------------------------------------------*/
#banner{
	width:100%;
	height:460px;
	background-color:#FFFFFF;
	border-bottom:#F00 1px solid;
}
#banner > div{
	width:100%;
	height:460px;
	position:absolute;
}
#banner-navigation{
	width:100%;
	height:30px;
	background-image:url(../../images/banner-navigation.png);
	background-repeat:repeat;
	position:absolute;
	bottom:0;
}
.banner-text{
	position:absolute;
	top:0;
	text-align:center;
	width:100%;
}
.banner-text > a{
	display:block;
	width:960px;
}

/*  Main							----------------------------------------------------*/
#main{
	background-color:#171514;
	width:100%;
	height:507px;
}
#who-are-our-customers{
	width:100%;
	height:299px;
	background-color:#F1F1F1;
}
#what-our-customers-say-about-us{
	width:100%;
	height:412px;
	background-color:#F1F1F1;
}
#our-latest-projects{
	width:100%;
	height:417px;
	background-color:#F1F1F1;
}
#what-can-you-do{
	width:100%;
	height:431px;
	background-color:#F1F1F1;
}
#footer{
	width:100%;
	height:350px;
	background-color:#171514;
}