/*  banner				----------------------------------------------------*/
#banner-wrapper{
	position:absolute;
	height:199px;
	width:100%;
    top:-30px;
    left:auto;
	z-index:3;
}
#banner-wrapper2{
	height:199px;
	width:700px;
	margin:0 auto;
}
.banner{
	position:absolute;
	top:0;
	left:auto;
	height:199px;
	width:700px;
    background-position:center -35px !important;
}

.banner-hover:hover
{
    top: 0px !important;
}

/*  main				----------------------------------------------------*/
#main-wrapper{
	padding:145px 0 0 0;
}
.text-box-wrapper{
	margin:0 136px;
}
.text-box-top-left{
	width:11px;
	height:12px;
}
.text-box-top-right{
	width:11px;
	height:12px;
	margin:0 2px 0 0;
}
.text-box-top-center{
	margin:0 13px 0 11px;
	height:12px;
}
.text-box-middle-center{
	margin:0 11px;
	padding:17px 28px;
}
.text-box-top-bottom{
	height:14px;
}

/*  menu				----------------------------------------------------*/
#menu-wrapper{
	height:252spx;
	position:fixed;
	top:70px;
	right:0;
	overflow:hidden;
    z-index: 4;
}
.menu-hover{
   margin-right: -70px;  
}
.menu-hover:hover{
    margin-right: 0;
}

.menu-hover-text:hover > li > a > .display-none{
	display: block !important;
}
#home{
	height:37px !important;
}
.menu-items{
	width:115px;
	height:29px;
	text-align:center;
	padding:10px 0 0 10px;
	margin:0;
}
.menu-items-links{
	width:0px;
	margin:0 0 0 42px;
}
.menu-items-home-links{
	height:35px;
	padding: 22px 0 0 0;
}
.menu-items-middle-links{
	height:29px;
	padding: 20px 0 0 0;
}
.menu-items-contact-links{
	height:30px;
	padding: 20px 0 0 0;
}

/*  sample-works		----------------------------------------------------*/
#sample-works-wrapper{
	position:fixed;
	left:0;
	bottom:0;
	width:450px;
	height:400px;
	margin:0;
	padding:0;
	z-index: 5;
}
#sample-work-1{
	position:absolute;
	width:162px;
	height:127px;
	top:-165px;
	left:-64px;
	z-index: 5;
}
#sample-work-2{
	position:absolute;
	width:152px;
	height:131px;
	top:-50px;
	left:-41px;
	z-index: 5;
}
#sample-work-3{
	position:absolute;
	width:128px;
	height:150px;
	top:-20px;
	left:85px;
	z-index: 5;
}
#sample-work-4{
	position:absolute;
	width:129px;
	height:133px;
	bottom:5px;
	left:9px;
	z-index: 5;
}
#sample-work-5{
	position:absolute;
	width:145px;
	height:135px;
	top:95px;
	left:150px;
	z-index: 5;
}
#sample-work-6{
	position:absolute;
	width:150px;
	height:157px;
	top:123px;
	left:288px;
	z-index: 5;
}
#sample-work-1:hover{
	background-position:-145px -310px;
}

.sample-work-hover:hover .puzzle-hide
{
	display: block;
}


#sample-work-2:hover{
	background-position:-310px -310px;
}
#sample-work-3:hover{
	background-position:-462px -310px;
	
}
#sample-work-4:hover{
	background-position:-169px -455px;
	z-index: 5;
}
#sample-work-5:hover{
	background-position:-303px -455px;
}
#sample-work-6:hover{
	background-position:-452px -462px;
}
#puzzle-block{
    bottom: 0;
    height: 209px;
    left: 0;
    position: absolute;
    width: 273px;
}

/*  copyright-wrappe		----------------------------------------------------*/
#copyright-wrapper{
	padding-bottom:25px;
}

/*  copyright-wrappe		----------------------------------------------------*/
.puzzle-hide{
 display: none;
}
#drop-here-wrapper{
	width: 640px;
	height: 480px;
	margin: 100px auto;
}
#drag-here{
 	z-index: 4;
 	position: absolute;
 	top: 0;
 	left:0;
}
#drop-here-top, #drop-here-bottom{
	width: 640px;
	height: 4px;
}
#drop-here-middle{
	width: 640px;
	height: 471px;
}
#drop-here-bottom{
	width: 640px;
	height: 5px;
}
#page-fade-black{
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
}
#drop-box-message-top, #drop-box-message-bottom{
	height: 209px;
	background-color: #00c6ff;
}
#drop-box-message-middle{
	height: 53px;
}
#drop-box-content{
	width: 580px;
	background-color: #00c6ff;
	padding: 26px 30px 10px 30px;
	height: 435px;
	position: absolute;
	z-index: 8;
	overflow: hidden;
}
#drop-box-message{
	width: 640px;
	height: 471px;
}
#drop-box-loading{
	width: 640px;
	background-color: #00c6ff;
	position: absolute;
	z-index: 7;
	height: 471px;
}
#portfolio_pic > a > img{
	width: 290px;
	height: 190px;
	padding: 0 10px 0 0;
}
#portfolio_name > a{
	width: 240px;
	text-align: center;
	display: block;
}
#portfolio_end > a{
	width: 240px;
	text-align: center;
	display: block;
}
#portfolio_price{
	padding: 0 0 0 10px;
}
#portfolio_des{
	height: 220px;
	overflow: hidden;
}